<!DOCTYPE html><html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Cars for Sale</title>
</head>
<body>
    <h1>Cars for Sale</h1>
    {% if car_array is empty %}
        <h2> No cars matched your search. </h2>
    {% else %}
        {% for car in car_array %}
            <ul class="list-unstyled">
                <li>{{ car.getMakeModel }}</li>
                <ul>
                    <li>{{ car.getMiles }}</li>
                    <li>{{ car.getPrice }}</li>
                    <li><img src='{{ car.getImage }}'> </li>
                </ul>
            </ul>
            {% endfor %}
    {% endif %}
</body>
</html>
