<!DOCTYPE html><html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Cars for Sale</title>
</head>
<body>
    <div class='container'>
        <p>Make and Model: {{ new_car.getMakeModel }}</p>
        <p>Mileage: {{ new_car.getMiles }}</p>
        <p>List Price: {{ new_car.getPrice }}</p>
        <p><img src="{{ new_car.getImage }}"</p><br />
        <a href="/">Add another car</a>
    </div>
</body>
</html>
